{varType App\Model\Entities\Product[] $topProducts}
{block content}

<a href="{plink Product:list}">Pracovní výpis produktů</a>

<h2 class="h3">Nejprodávanější stolní hry</h2>

<div id="carouselExampleControls" class="carousel carousel-dark slide" data-mdb-ride="carousel" data-mdb-carousel-init>
    <div class="carousel-inner">
        {foreach $topProducts as $product}
            <div class="carousel-item {if $iterator->first}active{/if}">
                <img src="{$basePath}/img/products/{$product->getFrontImageUrl()}" class="d-block w-100"
                     alt="{$product->title}"/>
            </div>
        {/foreach}
    </div>

    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls"
            data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls"
            data-mdb-slide="next">
        <span class="visually-hidden">Next</span>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
</div>

<h2 class="h3 my-4">Populární kategorie</h2>

<div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="d-block w-100" alt="Wild Landscape"/>
        </div>
        <div class="carousel-item">
            <img src="{$basePath}/img/favicon/logo.png" class="d-block w-100 img-fluid" alt="deskovka1">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls"
            data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls"
            data-mdb-slide="next">
        <span class="visually-hidden">Next</span>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
</div>
