#carouselExampleControls {
    height: 400px;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    visibility: hidden;
}

.carousel-item.active {
    visibility: visible;
}

.carousel-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: relative;
}

.carousel-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel-control-prev,
.carousel-control-next {
    filter: invert(100%);
}

#image-overlay {
    width: 60% !important;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    position: absolute;
    border-radius: 15px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#image-overlay .title {
    font-size: 1.3rem;
    padding: 10px;
    font-weight: bold;
    margin: 0;
}

#image-overlay .price-tag {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffcc00;
}

.bordered-card {
    border-radius: 10px;
    border-left: 8px #0066cc solid;
    border-right: none;
    border-top: none;
    border-bottom: none
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.centered-image {
    width: 80%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.product-title {
    height: 50px; /* Adjust the height as needed */
    text-overflow: ellipsis;
}

.bgg-image {
    height: 20px;
    width: auto;
}


