{varType App\Model\Entities\Cart $cart}

<div n:snippet="info" data-naja-snippet-cache="off">
    <a href="{plink Cart:default}" class="btn btn-primary position-relative">
        <i class="bi bi-cart"></i> Košík
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {$cart->getTotalCount()}
        </span>
    </a>

</div>