{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8"/>
    <title>{ifset title}{include title|striptags} - {/ifset}E-shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
          integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/styles/styles.css">

    <link rel="icon" href="{$basePath}/img/favicon/logo.ico" sizes="any"/>
    <link rel="manifest" href="{plink Homepage:manifest}"/>

    {block head}{/block}
</head>
<body>

<header class="navbar navbar-light bg-light mb-4 border-bottom">
    <div class="container d-flex align-items-center justify-content-between">
        <a href="{plink Homepage:default}"
           class="d-inline-flex text-dark text-decoration-none" style="height: 65px">
            <img class="img-fluid" src="{$basePath}/img/favicon/logo.png" alt="logo">
            <h1 class="align-self-center ml-1">Deskovky.cz</h1>
        </a>

        <div class="flex-grow-1 d-flex justify-content-center">
            <div class="w-75">
                <form action="{plink Product:list}" method="GET" class="input-group rounded">
                    <input type="search" name="search" class="form-control rounded-pill shadow-sm"
                           placeholder="Kterou hru hledáte?" aria-label="Search" list="suggestions"
                           autocomplete="off"/>
                    <datalist id="suggestions">
                        {foreach $productNames as $productName}
                            <option value="{$productName}"></option>
                        {/foreach}
                    </datalist>
                    <button class="btn btn-primary shadow-sm ml-1" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>
        </div>

        <div class="d-inline-flex align-items-center">
            <div class="mr-3" n:snippet="cart">{control cart}</div>
            {control userLogin}
        </div>
    </div>
</header>

<!--  Main content  -->
<div class="container min-vh-100">

    {snippet flashes}
        <div n:foreach="$flashes as $flash"
                class="alert alert-{$flash->type == 'error'?'danger':$flash->type} alert-dismissible mt-2" role="alert">
            {$flash->message}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {/snippet}

    <section n:snippet="content">
        {include content}
    </section>
</div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <hr class="border-bottom"/>

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <a href="" class="text-decoration-none text-reset">
                        <h5 class="text-uppercase fw-bold mb-4">
                            <img alt="logo" src="{$basePath}/img/favicon/logo.ico" class="mx-1 align-self-center"
                                 style="width: 1.8em; height: 1.8em;">Deskovky.cz
                        </h5>
                    </a>
                    <p>
                        Přinášíme Vám to nejlepší ze světa deskových her!
                    </p>
                </div>

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Kontakt</h6>
                    <p><i class="bi bi-house mx-2"></i>Modrá 5, 212 51 Brno</p>
                    <p><i class="bi bi-envelope mx-2"></i>info@deskovky.cz</p>
                    <p><i class="bi bi-phone mx-1"></i>+420 222 333 455</p>
                </div>

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Sledujte nás</h6>
                    <a href="" class="mx-3 text-reset">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="" class="mx-3 text-reset">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="" class="mx-3 text-reset">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a href="" class="mx-3 text-reset">
                        <i class="bi bi-google"></i>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <!-- Copyright -->
    <div class="text-center p-3 bg-light">
        © 2025 Copyright:
        <a class="text-reset fw-bold" href="">Deskovky.cz</a>
    </div>
</footer>

{block scripts}
    <script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/naja@2/dist/Naja.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.js"></script>
    <script>
        (function ($, root) {
            $(function () {
                naja.initialize();
            });
        })(jQuery, this);
    </script>
{/block}
</body>
</html>

