{block content}
<div class="card m-3 mb-4 shadow-lg bordered-card">
    <div class="card-body">
        <h2 class="card-title h4 mb-3">Uživatelský profil</h2>
        {control userProfileForm}
    </div>
</div>

<div class="card m-3 mb-4 shadow-lg bordered-card">
    <div class="card-body">
        <h2 class="card-title h4 mb-3">Změna hesla</h2>
        {control newPasswordForm}
    </div>
</div>
